services:
  api-gateway:
    extends:
      file: docker-compose-dev.yml
      service: api-gateway
    volumes:
      - ./packages/proto/dist:/app/packages/node_modules/juno-proto/dist
    develop:
      watch:
        - action: rebuild
          path: ./packages/proto/package.json

  auth-service:
    extends:
      file: docker-compose-dev.yml
      service: auth-service
    volumes:
      - ./packages/proto/dist:/app/packages/node_modules/juno-proto/dist
    develop:
      watch:
        - action: rebuild
          path: ./packages/proto/package.json
  
  email-service:
    extends:
      file: docker-compose-dev.yml
      service: email-service
    volumes:
      - ./packages/proto/dist:/app/packages/node_modules/juno-proto/dist
    develop:
      watch:
        - action: rebuild
          path: ./packages/proto/package.json

  db-service:
    extends:
      file: docker-compose-dev.yml
      service: db-service
    volumes:
      - ./packages/proto/dist:/app/packages/node_modules/juno-proto/dist
    develop:
      watch:
        - action: rebuild
          path: ./packages/proto/package.json

  db:
    extends:
      file: docker-compose-dev.yml
      service: db
