name: E2E Tests
on: [pull_request]

jobs:
  api-gateway:
    name: API Gateway E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Test
        run: pnpm test:e2e:api-gateway

  auth-service:
    name: Auth Service E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Test
        run: pnpm test:e2e:auth-service

  email-service:
    name: Email Service E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Test
        run: pnpm test:e2e:email-service

  file-service:
    name: File Service E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Setup Env File
        env:
          ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          BASE_URL: ${{ secrets.BASE_URL }}
        run: |
          echo "accessKeyId=$ACCESS_KEY_ID" >> .env.gh-actions.local
          echo "secretAccessKey=$SECRET_ACCESS_KEY" >> .env.gh-actions.local
          echo "baseURL=$BASE_URL" >> .env.gh-actions.local
      - name: Test
        run: pnpm test:e2e:file-service

  db-service:
    name: DB Service E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Test
        run: pnpm test:e2e:db-service

  logging-service:
    name: Logging Service E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Test
        run: pnpm test:e2e:logging-service
